._maxContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
._paymentForm {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px 20px;
  border-radius: 4px;
  border: 1px solid var(--gray);
  background: var(--opaqueBackground);
}

._cardDetails-wrapper {
  min-width: fit-content;
  max-width: 380px;
  width: 90%;
  height: fit-content;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
._cardDetails-wrapper ._card-field {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  justify-content: center;
  font-size: inherit;
  transform: scale(0.9);
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
._cardDetails-wrapper ._card-field:focus-within {
  transform: scale(1);
}
._cardDetails-wrapper ._card-field > input {
  font-size: 0.9em;
  width: 100%;
  line-height: 2em;
  padding: 5px;
  padding-left: 35px;
  border: 1px solid var(--gray);
  border-radius: 14px;
  outline: none;
}
._cardDetails-wrapper ._card-field > input._empty ~ label {
  font-size: 1em;
  position: absolute;
  left: 40px;
  top: 0.4em;
}
._cardDetails-wrapper ._card-field > input._filled ~ label {
  position: absolute;
  left: 10px;
  top: 0;
  font-size: 0.6em;
}

._cardDetails-wrapper ._card-field > label {
  font-size: 0.8em;
}
._cardDetails-wrapper ._card-field > ._error {
  font-size: 0.8em;
  color: var(--text-highlight);
  visibility: hidden;
  transition: all 0.2s ease;
}
._cardDetails-wrapper ._card-field > ._error.--visible {
  visibility: visible;
}
._cardDetails-wrapper ._card-field > ._icon {
  position: absolute;
  width: 1.4em;
  height: auto;
  top: 1.65em;
  left: 5px;
  color: var(--dark-red);
}
._cardDetails-wrapper ._card-field > input._empty ~ ._icon {
  top: 0.5em;
}
._cardDetails-wrapper ._card-field > input._filled ~ ._icon {
  top: 0.7em;
}

._cardDetails-wrapper ._card-field > ._icon.--valid {
  color: rgb(14, 165, 14);
}
._cardDetails-wrapper ._card-field > ._icon > * {
  width: 100%;
  height: 100%;
  position: relative;
}

._paymentForm ._payBtn {
  min-width: fit-content;
  max-width: 300px;
  width: 80%;
  height: fit-content;
  padding: 10px 0;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--gray);
  background: transparent;
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  font-weight: bolder;
}
._paymentForm ._payBtn:hover,
._paymentForm ._payBtn:focus {
  transform: scale(1.2);
  background: var(--btnBackground-light);
  box-shadow: 4px 2px 12px var(--text-secondary);
  color: var(--text-highlight);
  font-weight: bold;
}
