._modal {
  position: relative;
  transition: all 2s ease;
  width: 100%;
  height: 90%;
  top: 20%;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  /* margin: 100px 0; */
  font-family: sans-serif;
}

._modal .icon,
#closeModal.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  transition: all 0.2s ease;
  cursor: pointer;
}
._modal .icon:hover > *,
#closeModal.icon:hover > * {
  transform: scale(1.2);
}
._modal .icon._light,
#closeModal.icon._light {
  color: var(--text-light);
  background-color: var(--opaqueBackground);
  border: 1px solid var(--text-light);
}
._modal .icon._light:hover,
#closeModal.icon._light:hover {
  background-color: var(--text-highlight);
}
._modal .icon._dark {
  color: var(--text-dark);
  background-color: var(--lightBackground);
  border: 1px solid var(--text-dark);
}
._modal .icon.--circ,
#closeModal.icon.--circ {
  border-radius: 50%;
}
._modal .icon.--rect {
  padding: 8px 20px;
  border-radius: 12px;
}

._modal .icon > * {
  color: inherit;
  font-weight: bold;
  font-size: 16px;
  width: 2em;
  height: auto;
  transform: scale(0.6);
  transition: transform 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
#closeModal.icon.-closeBtn {
  color: inherit;
  position: fixed;
  z-index: 1001;
  top: 8px;
  right: 15px;
}
#closeModal.icon > * {
  font-size: 12px;
  width: 1.5em;
  height: auto;
}

._playerContainer {
  position: relative;
  width: 94%;
  max-width: 800px;
  margin: 0 auto;
  aspect-ratio: 16/9;
  padding-top: 56.25%;
  border-radius: 12px;
  /* overflow: hidden; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
._player {
  position: absolute;
  top: 0;
  left: 0;
}

._mediaInfo {
  width: 94%;
  height: fit-content;
  padding: 10px;
  background: var(--opaqueBackground);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

._playerControls {
  width: 100%;
  height: fit-content;
  padding: 0 40px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
._playerControls > section {
  flex: 1 1 auto;
  display: inherit;
  flex-flow: inherit;
  align-items: inherit;
  justify-content: start;
  gap: 10px;
}
._playerControls > section:last-child {
  justify-content: end;
}

@media (max-width: 780px) {
  ._modal .icon > * {
    font-size: 10px;
  }
}

._mediaInfo aside {
  padding: 0 10px;
  width: 100%;
  height: fit-content;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 18px;
}
._mediaInfo aside h2 {
  font-weight: normal;
  font-size: 1em;
  display: flex;
  flex-flow: row;
  gap: 15px;
  align-items: center;
  justify-content: start;
}
._mediaInfo aside h2 > span {
  font-weight: bold;
  color: #01f321ee;
}
._mediaInfo aside p.desc {
  font-size: 1.1em;
  font-weight: lighter;
  min-width: 300px;
  max-width: 600px;
  width: 80%;
}
._mediaInfo aside .other {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4px;
}
._mediaInfo aside .other h3 {
  font-size: 0.9em;
  font-weight: normal;
}
._mediaInfo aside .other h3 > span {
  font-weight: bolder;
  color: var(--text-secondary);
}
